
* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

input[name="slider-select-element"] {
    display: none;
}

#slider-arrows {
    margin: -15% auto 0 auto;
    width: 95%;
}

#slider-box {
    height: 100%;
    width: 400%;
	
}

#slider-container {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 100%;
	max-height:450px;
}
.element-4,
.element-3,
.element-2,
.element-1 {
    min-height: 450px;
    max-height: 100%;
    width: 100%;
	text-align: center;
	vertical-align:middle;
}
.element-4{
    background: url(../images/vino.jpg) no-repeat center center fixed;  
	background-size: cover;
}
.element-3 {
    background: url(../images/galeria/eventos3.JPG) no-repeat center center fixed;
	background-size: cover;
}

.element-2 {
	background: url(../images/slidep1.png) no-repeat center center fixed;
	background-size: contain;
}

.element-1 {
    background: url(../images/comida.png) no-repeat center center fixed;
	background-size: contain;

}
#content4, #content1{
text-align:right; padding-right:5%;}
#content3{text-align:left; padding-left:5%;}
#content1 p, 
#content2 p,
#content3 p,
#content4 p{
	font-size:30px;
	color: #fff;
	font-weight:400;
	padding-top:2%;
	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
#content1 h2,
#content2 h2,
#content3 h2,
#content4 h2{
	padding:4% 0 1% 0;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	color: #fff;
	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}


.slider-element {
    float: left;
    width: 25%;
	max-height:450px;
}

#slider-box {

	-moz-animation: autoSlider 32s infinite linear;
    -o-animation: autoSlider 32s infinite linear;
    -webkit-animation: autoSlider 32s infinite linear;
    animation: autoSlider 32s infinite linear;


    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

@-moz-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    50% {
        margin-left: -100%;
    }

    55% {
        margin-left: -200%;
    }

    75% {
        margin-left: -200%;
    }
	80%{
		margin-left:-300%;
	}
	95%{
		margin-left:-300%;
	}
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    50% {
        margin-left: -100%;
    }

    55% {
        margin-left: -200%;
    }

    75% {
        margin-left: -200%;
    }
	80%{
		margin-left:-300%;
	}
	95%{
		margin-left:-300%;
	}
    100% {
        margin-left: 0;
    }
}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    50% {
        margin-left: -100%;
    }

    55% {
        margin-left: -200%;
    }

    75% {
        margin-left: -200%;
    }
	80%{
		margin-left:-300%;
	}
	95%{
		margin-left:-300%;
	}
    100% {
        margin-left: 0;
    }
}
@media screen and (max-width:1000px){
.element-2 {
	background: url(../images/slidep1.png) no-repeat center center fixed;
	background-size: cover;
}

.element-1 {
    background: url(../images/comida.png) no-repeat center center fixed;
	background-size: cover;
}
}